body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.tarjeta {
  margin: 0 auto;
  width: 60%;
  height: 600px;
  border: 1px solid black;
}
.tarjeta h1 {
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 10px;
}
.familia h2 {
  background-color: blueviolet;
  color: white;
}
.familia li {
  list-style: none;
}
.amigos h2 {
  background-color: thistle;
  color: white;
}
.amigos li {
  list-style: none;
}
.trabajo h2 {
  background-color: burlywood;
  color: white;
}
.trabajo li {
  list-style: none;
}
.anime {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
  height: 160px;
  border: 1px solid black;
}
.dbz p {
  background-color: red;
}
.naruto p {
  background-color: orange;
}
.snk p {
  background-color: gray;
}
.kimetsu p {
  background-color: greenyellow;
}
